
body{
  min-width: 810px;
  max-width: 1000px;
}
.main-gallery nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}
.main-gallery>nav>ul>li{
  width: 50%
}
.main-gallery>nav>ul>li:last-child{
  background-color: black;
}
.main-gallery>nav>ul>li:first-child{
    background-image: linear-gradient(to right, var(--polaroidColor-1) 0%, var(--polaroidColor-1) 17%, var(--polaroidColor-2) 17%, var(--polaroidColor-2) 33.5%, var(--polaroidColor-3) 33.5%, var(--polaroidColor-3)  50%, var(--polaroidColor-4)  50%, var(--polaroidColor-4)  66.5%, var(--polaroidColor-5)  66.5%, var(--polaroidColor-5)  83%, var(--polaroidColor-6)  83%,  var(--polaroidColor-6)  100%);
}
.main-gallery>nav>ul>li>div{
  width: calc( var(--heightImageGallery) - 3em);
  height: var(--heightImageGallery);
  border: 2px solid;
  margin: 5em auto;
  cursor: pointer;
}
.color, .black{
  transition: 0.2s ease-in-out;
}
.black{
  color:white;
}
/* .black:hover{
  background-color: #eee;
}
.black:hover p{
  background-color: black;
} */
.color:hover, .black:hover{
  box-shadow: inset 0px -2.4em 0px 1.5em #eeeeee, 0px -4px 81px white;
  transform: scale(1.02);
}
.color:hover p, .black:hover p{
  box-shadow: 0px -1em 0px 0em #eeeeee;
}
.main-gallery ul li p{
  height: calc( 100% - 5em );
  width: calc( 100% - 3em );
  border: 2px solid;
  margin: 1em auto;
  text-align: center;
  transition: 0.2s ease-in-out;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colorPolaroid{
  position: sticky;
  top:1px;

}

.colorFilm, .black-whiteFilm,.image{
  display: none;

}
.colorFilm, .black-whiteFilm{
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  margin: 5em 0;

}
.colorFilm>header, .black-whiteFilm>header{
  position: absolute;
  top: -5em;
}
.main-gallery article> section>header{
  position: relative;
  cursor: pointer;
}
.main-gallery article> section>header>h1{
  position: absolute;
  width: 0;
  height: 100%;
  margin: 0;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  right: 0;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--backgroundQuotColor);
  transition: .5s ease;
}


 .colorFilm section:last-child header>h1 {
  white-space: normal;
  
}

.main-gallery article> section>header:hover h1{
  width:100%;
  left: 0;
}



.image{
  display:none;
}



img{
  height: var(--heightImageGallery);
}


/* section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
} */
